body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 50px;
  font-size: 36px;
  color:#ff0000;
}

h2 {
  color: #ff0000;
  font-weight: normal;
  margin-top: -10px;
  font-size: 18px;
}

button {
  font-size: 24px;
  padding: 20px 40px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  background-color: #003366;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3700b3;
}

html, body{
  touch-action:manipulation;
}

.active-effect {
  transform: scale(0.9);
}


#score {
  font-size: 18px;
  margin-top: 20px;
}

/* Restrict image size to a max of 300px wide */
img {
  max-width: 300px;
  width: auto;
  height: auto;  /* Maintain the aspect ratio */
}

/* Shop UI */
#shopPanel {
  position: fixed;  /* Fix it to the screen */
  top: 20%;  /* Move it 20% from the top of the screen */
  left: 50%;
  transform: translateX(-50%);  /* Center it horizontally */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none;  /* Hidden by default */
  z-index: 1000;  /* Keep it on top */
  width: 80%;  /* Adjust width for mobile responsiveness */
  max-width: 400px;  /* Limit max width */
}

#shopPanel h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

#shopPanel button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #4CAF50;
}

#shopPanel button:hover {
  background-color: #45a049;
}

#shopPanel p {
  font-size: 18px;
  margin: 10px 0;
}

/* Shop button to open the shop */
#shopButton {
  font-size: 18px;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;  /* Add some space below the score */
}

#shopButton:hover {
  background-color: #de5050;
}

/* Close button for the shop */
#closeShopButton {
  font-size: 18px;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#closeShopButton:hover {
  background-color: #e53935;
}

/*rebirth button*/
#rebirthButton{
  font-size:18px;
  padding: 10px;
  background-color: #2fc512;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#rebirthButton:hover {
  background-color: hsl(112, 68%, 59%);
}